 body{
     background-image:url(photo.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment:fixed;
     margin-top: 220px;
    
 }
 .post{
    padding: 10px 5%;
   
    background-color:rgb(5, 11, 105);
}
h1,p{
    font-family: 'Marck Script', cursive;
}
.a7{
  color: lime;
}
.a8{
    color:lime;
}
.a9{
    color:lime;
    display:inline-block;
}
h1{
    color:rgb(255, 0, 200);
}
p{
    color:lime;
}
h3,h4{
    color:red;
}
#final{
    color:rgb(248, 0, 0);
}
#a4{
    color:yellow;
   
}
header h2{
    color:lime;
}
#ddd{
    color:red;
}
.rdf{
    color:red;
}

header{
    background-color: rgba(0,0,0,0.9);
    position:fixed ;
   
    top:0;
    left:0;
    width:100%;
}
#razryv{
    height:125px;
    background-repeat: repeat y;
}
footer{
    background-color:rgb(0, 0, 0);
}
 h2{
    color:lime;
}
button{
    color: red;
    background-color: rgb(0, 255, 34);
    font-size: 12px;
}
a{
  display: inline-block;
color: aqua;
background-color: crimson;
text-decoration: none;
padding: 5px 12px;
border-radius: 6px;            
}
header img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.code{
    display: inline-block;
    display: flex;
justify-content: center;

}

